<section class="se-container">
  <section id="banner" class="se-slope-n  parallax-container">
    <article class="se-content-n">
      <div class="row">
        <div class="medium-12 column">

          <div class="banner-top">

            <img class="logo" src="/themes/opensenselabs/images/logo.svg">

            <a data-toggle="offCanvasRight" href="#"><img class="menu-button" src="themes/opensenselabs/images/menu.png"></a>
          </div>
          <div class="medium-12 column">
            <div class="inner_banner text-center">
              <h1 class="text-center">Your experts for<br>everything Drupal</h1>
              <p>We are a team of web development experts specialising in Drupal Web Development<br> Drupal 7 to Drupal 8 migrationand Performance Tuning for your Drupal Website
              </p>

              <div class="medium-12 column align-center">
                <a class="button alert" style="position: relative;
    text-align: left;
    display: inline-flex;
    width: 283px;" href="#">GET STARTED WITH <div class="slidingVertical">
                <span>Amazing.</span>
                <span>Beautiful.</span>
                <span>Cute.</span>
                <span>Delightful.</span>
                <span>Emotional.</span>
              </div></a>
                <a class="button alert" href="#">EXPLORE DRUPAL FOR CMO</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="parallax"><img src="/themes/opensenselabs/images/banner1.png" alt="Unsplashed background img 1"></div>
  </section>
