<footer id="footer" class="se-slope-n">
    <article class="se-content-n">
        <div class="row">
            <div class="medium-12 column">
                <div class="footer">

                    <div class="row small-up-1 medium-up-3 large-up-3">
                        <div class="column">
                            <h6>OUR SERVICES</h6>
                            <ul class="menu vertical">
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Drupal Staff Augmentation</a></li>
                                <li><a href="#">Strategy and Consulting</a></li>
                                <li><a href="#">AngularJS &amp; React Development</a></li>
                                <li><a href="#">Drupal Performance Tuning &amp; Optimisation</a></li>
                                <li><a href="#">Drupal Personalisation &amp; CRO</a></li>
                                <li><a href="#">Drupal Site Audit</a></li>
                                <li><a href="#">Drupal Support &amp; Maintenance</a></li>
                                <li><a href="#">Drupal 8 Upgrade &amp; Migration</a></li>
                            </ul>
                        </div>

                        <div class="column">
                            <h6>FRESH FROM THE OVEN</h6>
                            <ul class="menu vertical">
                                <li>
                                    <a href="#">10 Reasons Why You Should Use Drupal</a></li>
                                <li>
                                    <a href="#">Drupal For Beginners</a></li>
                                <li>
                                    <a href="#">10 Reasons Why You Should Use Drupal</a></li>
                                <li>
                                    <a href="#">Drupal For Beginners</a></li>
                                <li>
                                    <a href="#">10 Reasons Why You Should Use Drupal</a></li>
                                <li>
                                    <a href="#">Drupal For Beginners</a></li>
                            </ul>
                            <h6>READ MORE</h6>
                        </div>

                        <div class="column">
                            <h6>REGISTERED OFFICE</h6>
                            <ul class="menu vertical">
                                <li>
                                    <div class="address column">

                                        <p>OPEN SENSE LABS<br/>M161 / 1B Gautam Nagar<br/>Green Park, New Delhi</p>
                                        <a href="#">hello@opensenselabs.com</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icons">
                                        <a href="#"><img src="images/drupal icon.png"/></a>
                                        <a href="#"><img src="images/icon.png"/></a>
                                        <a href="#"><img src="images/wi-fi icon.png"/></a>
                                      </div>
                                      <div class="icon">

                                        <a href="#"><img src="images/facebook.png"/></a>
                                        <a href="#"><img src="images/twitter.png"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="line text-center ">
            <img src="images/line.png"/>
            <h6>OPEN SENSE LABS - ALL RIGHTS RESERVED</h6>
            <h6>MADE WITH <span>♥</span> ON DRUPAL 8</h6>
            <p>Drupal is a registerd trademark of Dries Buy</p>
        </div>
    </article>
</footer>
