<footer id="footer" class="se-slope-n">
    <article class="se-content-n">
        <div class="row">
            <div class="medium-12 column">
                <div class="footer">

                    <div class="row small-up-1 medium-up-3 large-up-3">
                        <div class="column">
                            <h6>OUR SERVICES</h6>
                            <ul class="menu vertical">
                              <li><a href="/services/development">Development</a></li>
                              <li><a href="/services/drupal-staff-augmentation">Drupal Staff Augmentation</a></li>
                              <li><a href="/services/drupal-commerce">Drupal Commerce</a></li>
                              <li><a href="/services/drupal-performance-tuning-optimisation">Performance Tuning & Optimisation</a></li>
                              <li><a href="/services/drupal-personalization-cro">Personalization & CRO</a></li>
                              <li><a href="/services/drupal-support-maintenance">Support & Maintenance</a></li>
                              <li><a href="/services/drupal-8-upgrade-migration">Drupal 8 Upgrade & Migration</a></li>
                            </ul>
                        </div>

                        <div class="column">
                          {{ page.footer_middle }}
                          <a href="https://www.drupal.org/opensense-labs" target="_blank"><img src="/themes/opensenselabs/images/drupal-member.svg" alt="Top Drupal member company"/></a>
                        </div>

                        <div class="column">
                            <h6>REGISTERED OFFICE</h6>
                            <ul class="menu vertical">
                                <li>
                                    <div class="address column">

                                        <p>OPENSENSE LABS<br/>M161 / 1B Gautam Nagar<br/>Green Park, New Delhi</p>
                                        <a>Ph: +1 (650) 285-5557</a>
                                        <a href="mailto:hello@opensenselabs.com">hello@opensenselabs.com</a>
                                    </div>
                                </li>
                                <li class="column">
                                    <div class="icons">
                                        <a href="https://www.drupal.org/opensense-labs" target="_blank"><img src="/themes/opensenselabs/images/drupal icon.png" alt="Drupal.org profile"/></a>
                                        <a href="https://www.linkedin.com/company-beta/13234997/" target="_blank"><img src="/themes/opensenselabs/images/icon.png" alt="Linkdin connect"/></a>
                                        <a href="#" target="_blank"><img src="/themes/opensenselabs/images/wi-fi icon.png" alt="RSS feed"/></a>
                                      </div>
                                      <div class="icon">

                                        <a href="https://www.facebook.com/opensenselabs/" target="_blank"><img src="/themes/opensenselabs/images/facebook.png" alt="Facebook connect"/></a>
                                        <a href="https://twitter.com/opensenselabs" target="_blank"><img src="/themes/opensenselabs/images/twitter.png" alt="Twitter connect"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="line text-center ">
            <img src="/themes/opensenselabs/images/line.png" alt="Line"/>
            <h6>OPENSENSE LABS - ALL RIGHTS RESERVED</h6>
            <h6>MADE WITH <span>♥</span> ON DRUPAL 8</h6>
            <p>Drupal is a registerd trademark of Dries Buytaert</p>
        </div>
    </article>
</footer>
