//sidebar section styling
#sidebar-second {
  h2 {
    font-size: 1rem;
    color: #3494ba;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 4px solid #eeeff0;
    border-top: 4px solid #eeeff0;
  }
}
