.secondary-share-block {
    background-color: #ececec;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #f7f7f9;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.featured-interview-wrap {
  h3 {
    font-size: 1rem;
    text-align: center;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #6d6e71;
    margin: 0;
  }
}
