//sidebar section styling
#sidebar-second {
  h2 {
    font-size: 1rem;
    color: #3494ba;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 4px solid #eeeff0;
    border-top: 4px solid #eeeff0;
  }
  .block-simplenewssubscription {
    .form-item-message {
          line-height: 5px;
      .input {
        margin: 0;
font-size: 15px;
text-align: right;
line-height: 1;
      }
    }
    .js-form-type-email {
      .input {
        margin: 12px 0 0 0;
    width: 100%;
      }
    }
  }
}
