<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>

    <div class="off-canvas position-right" id="offCanvasRight1" data-off-canvas>
          {{ page.right_off_canvas }}
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      {% if page.highlighted %}
        {% spaceless %}
          {{ page.highlighted }}
        {% endspaceless %}
      {% endif %}
      <section id="banner" class="se-slope-n  parallax-container banner">
          <article class="se-content-n">
              <div class="column">
                  <div class="medium-12 column">

                      <div class="banner-top">

                          <a href="/"><img class="logo" src="/themes/opensenselabs/images/logo.png" alt="Opensense labs, Drupal Development company"></a>

                          <a href="#" data-toggle="offCanvasRight1"><img class="menu-button" src="/themes/opensenselabs/images/menu.png" alt="Drupal services menu"></a>
                      </div>

                                <div class="inner_banner text-center">
                                    <h1 class="text-center">Your Own Drupal Development Company</h1>
                                    <p>Experience our Drupal services. For every Drupal need. For every enterprise.</p>
                                    <div class="menu-centered">
                                        <ul class="menu simple get-started">
                                            <li>
                                                <h6>GET STARTED WITH</h6>
                                                <button class="button custom" type="button" data-toggle="get-start">Development</button>
                                                <div class="dropdown-pane" id="get-start" data-dropdown data-hover="true" data-hover-pane="true">
                                                    <ul class="menu vertical">
                                                        <li><a href="/services/development">Development</a></li>
                                                        <li><a href="/services/drupal-staff-augmentation">Drupal Staff Augmentation</a></li>
                                                        <li><a href="/services/drupal-commerce">Drupal Commerce</a></li>
                                                        <li><a href="/services/drupal-performance-tuning-optimisation">Performance Tuning & Optimisation</a></li>
                                                        <li><a href="/services/drupal-personalization-cro">Personalization & CRO</a></li>
                                                        <li><a href="/services/drupal-support-maintenance">Support & Maintenance</a></li>
                                                        <li><a href="/services/drupal-8-upgrade-migration">Drupal 8 Upgrade & Migration</a></li>
                                                    </ul>

                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <div class="parallax"><img src="themes/opensenselabs/images/homebanner.jpg" alt="Opensense labs, Drupal Development company,home."/></div>
                </section>





                <section id="client" class="se-slope-n bg-white">
                    <article class="se-content-n">
                        <div class="row">
                            <div class="medium-12 column">
                                <div class="Our_client-top text-center">
                                    <!-- <p>Our client <a href="#">TUV SUDs</a> speak about their recent project implementation engagement with OpenSense Labs.</p> -->
                                    <div class="home-quote">
                                        <p>"A decade ago today, we were questioning the potential of technology, and here it is, making work lighter every day"</p>
                                    </div>
                                    <p>We are delivering success across the globe</p>
                                </div>
                            </div>
                        </div>

                        <div class="client_logo">
                            <div class="row small-up-2 medium-up-3 large-up-6">
                                <div class="column"><img src="themes/opensenselabs/images/iit.png" alt="IIT kharagpur"/></div>
                                <div class="column"><img src="themes/opensenselabs/images/techtud.png" alt="Techtud"/></div>
                                <div class="column"><img src="themes/opensenselabs/images/tuv.png" alt="TUV SUD"/></div>
                                <div class="column"><img src="themes/opensenselabs/images/vocab.png" alt="Vocabmonk"/></div>
                                <div class="column"><img src="themes/opensenselabs/images/artywear.png" alt="Artywear"/></div>

                                <div class="column"><img src="themes/opensenselabs/images/globe.png" alt="CiviHR"/> </div>
                            </div>
                        </div>
                        <p class="text-center"><a class="button" href="https://www.drupal.org/node/2300801/case-studies" target="_blank">VIEW CASE STUDY</a></p>
                    </article>
                </section>



                <section id="flagship" class="se-slope-n parallax-container">
                    <article class="se-content-n">

                        <div class="medium-12 column">
                            <h2 class="text-center">Our Flagship Services</h2>
                            <div class="row small-up-1 medium-up-3 large-up-3 flag-inner">
                                <div class="column">
                                    <div class="d-development">
                                        <h4>Drupal Development</h4>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="d-migration">
                                        <h4>Drupal 8 Migration</h4>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="d-support">
                                        <h4>Drupal support &amp; maintenance</h4>
                                    </div>
                                </div>
                            </div>

                            <p class="text-center"><a class="button white" href="/services">ALL SERVICES</a></p>
                        </div>

                    </article>
                    <div class="parallax">
                        <img src="themes/opensenselabs/images/services.jpg" alt="Best Drupal Services" />
                    </div>
                </section>


                <section id="move-drupal" class="se-slope-n">
                    <article class="se-content-n">
                        <div class="row">
                            <div class="medium-12 column">
                              <div class="default-list text-center">
                                  <img src="themes/opensenselabs/images/launcher.png" alt="Upgrade quickly from Drupal 7 to Drupal 8"/>
                                  <h2 class="move">Upgrade Drupal 7 to 8</h2>

                                  <h3>Check the compatibility of your Drupal 7 to 8 migration with <br>our free drupal 8 upgrade estimation tool</h3>
                                  <a class="button" href="/migration-check">COMPATIBILITY CHECK</a>
                                  <h6><a href="/why-drupal-8">Why Drupal 8?</a></h6>
                              </div>
                              <div class="line text-center">
                                  <img src="themes/opensenselabs/images/line.png" alt="Line"/>
                              </div>

                              <div class="default-list text-center">
                                  <img src="themes/opensenselabs/images/meter.png" alt="Drupal Performance optimisation"/>
                                  <h2 class="move">Drupal Performance Optimization</h2>

                                  <p>Optimize Drupal for an efficient performance and faster results</p>
                                  <a class="button" href="/services/drupal-performance-tuning-optimisation">PERFORMANCE AUDIT</a>
                                  <!-- <h6>More About Performance Budgeting</h6> -->
                              </div>
                            </div>
                        </div>
                    </article>
                </section>



                <section id="in-touch" class="se-slope-n parallax-container">
                    <article class="se-content-n">
                        <div class="row">
                            <div class="medium-12 column">
                                <div class="get_in text-center">
                                    <h2>Get in touch with our experts for<br/>your development needs</h2>
                                    <a class="button" href="mailto:hello@opensenselabs.com">HELLO@OPENSENSELABS.COM</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="parallax"><img src="themes/opensenselabs/images/getintouch.jpg" alt="Get in touch"/></div>
                </section>


                <section id="explore-drupal" class="se-slope-n">
                    <article class="se-content-n">
                        <div class="row">
                            <div class="medium-12 column">
                                <div class="Explore_drupal text-center">
                                    <!-- <h2>Explore Drupal For</h2>
                                    <div class="menu-centered">
                                        <ul class="menu simple explore-for">
                                            <li>
                                                <select>
                                            <option value="ceo">CEO</option>
                                            <option value="2">CIO</option>
                                            <option value="3">CTO</option>
                                            <option value="4">CMO</option>
                                            <option value="4">CSO</option>
                                          </select></li>
                                            <li class="plus">+</li>
                                            <li>
                                                <select>
                                            <option value="1">MEDIA & PUBLISHING</option>
                                            <option value="2">Another option</option>
                                            <option value="3" >A disabled option</option>
                                            <option value="4">Potato</option>
                                          </select>
                                            </li>
                                            <li class="submit-btn"><a class="button" href="#">GO</a></li>
                                        </ul>
                                    </div>
 -->
                                    <h2>Our Development Process</h2>
                                    <p>Get to know more about how we operate, what business &amp; development practices<br/>we follow and tools we use to deliver projects.</p>
                                    <a class="button" href="/our-development-methodology">KNOW MORE</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>




                <section id="drupal-for" class="se-slope-n parallax-container">
                    <article class="se-content-n">

                            <div class="medium-12 column">
                                <div class="drupal_for text-center">
                                    <h2>Explore Drupal For</h2>
                                    <div class="start-up">
                                        <div class="row small-up-1 medium-up-3 large-up-3">

                                            <div class="column">
                                                <div class="start"> Start-up
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="migration"> Drupal Migration</div>
                                            </div>
                                            <div class="column">
                                                <div class="enter"> Enterprise</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </article>
                    <div class="parallax"><img src="themes/opensenselabs/images/explorebanner.png" alt="explore Drupal 8"/></div>
                </section>



                <section id="team" class="se-slope-n bottom-120">
                    <article class="se-content-n">
                        <div class="row">
                            <div class="medium-12 column">
                                <div class="the_team text-center">
                                    <h2>The Team</h2>
                                    <div class="row small-up-1 medium-up-4 large-up-4">

                                        <div class="column">
                                            <div class="team_member text-center">
                                                <img src="themes/opensenselabs/images/vid.png" alt="Mr. Vidhatanand, CEO."/>
                                                <h4>Vidhata <span>(Vid)</span></h4>
                                                <p>ENGAGEMENT OFFICER </p>

                                                <div class="menu-centered">
                                                    <ul class="menu simple">
                                                        <li>
                                                            <a class="drupal" href="#">drupal</a>
                                                        </li>
                                                        <li>
                                                            <a class="linkedin" href="#">linkedin</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="team_member text-center">
                                                <img src="themes/opensenselabs/images/pritam.png" alt="Mr. Pritam , HOD"/>
                                                <h4>Pritam</h4>
                                                <p>Delivery Officer</p>

                                                <div class="menu-centered">
                                                    <ul class="menu simple">
                                                      <li><a class="drupal" href="https://www.drupal.org/u/techtud" target="_blank" target="_blank">drupal</a></li>
                                                      <li><a class="linkedin" href="https://www.linkedin.com/in/pritamprasun/" target="_blank">linkedin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="team_member text-center">
                                                <img src="themes/opensenselabs/images/ujjwal.png" alt="picture"/>
                                                <h4>Ujjawal <span>(Baba)</span></h4>
                                                <p>Performance Officer</p>

                                                <div class="menu-centered">
                                                    <ul class="menu simple">
                                                        <li>
                                                            <a class="drupal" href="#">drupal</a>
                                                        </li>
                                                        <li>
                                                            <a class="linkedin" href="#">linkedin</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="team_member text-center">
                                                <img src="themes/opensenselabs/images/dev.png" alt="picture"/>
                                                <h4>Devanshu</h4>
                                                <p>Head of Business Strategy</p>

                                                <div class="menu-centered">
                                                    <ul class="menu simple">
                                                        <li>
                                                            <a class="drupal" href="https://www.drupal.org/u/devanshu-arora">drupal</a>
                                                        </li>
                                                        <li>
                                                            <a class="linkedin" href="https://www.linkedin.com/in/devanshuarora/">linkedin</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="button" href="/our-team">MEET THE ROCKSTARS</a>
                                </div>
                                <div class="line text-center">
                                    <img src="themes/opensenselabs/images/line.png" alt="Line"/>
                                </div>
                            </div>
                        </div>
                        <div class="rowss">
                          <div class="map-location text-center">
                            <h2>Our Location</h2>
                            <img src="themes/opensenselabs/images/map-front.jpg" alt="map"/>
                          </div>
                            <div class="medium-12 column">
                                <div class="team text-center">


                                    <div class="connect">
                                        <img src="themes/opensenselabs/images/connect.png" alt="Connect with us for Drupal 8 services."/>
                                    </div>
                                    <p>We are looking for smart people to join our growing team</p>
                                    <a class="button" href="mailto:hello@opensenselabs.com">JOIN THE ROCKSTARS</a>
                                </div>
                            </div>
                        </div>
                    </article>

                </section>

              {% include 'themes/opensenselabs/includes/footer.html.twig' %}

            </section>
        </div>
        <div class="js-off-canvas-exit"></div>
    </div>
</div>
